<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">

<title>Create card</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content=""> 

<link rel="stylesheet" type="text/css" href="../style/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="../style/style copy.css">

<link rel="stylesheet" href="../style/responsive.css">

<link rel="icon" href="/img/logo-removebg-preview.png" type="image/gif" />

<link rel="stylesheet" href="../style/jquery.mCustomScrollbar.min.css">

<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

<link rel="stylesheet" href="../style/owl.carousel.min.css">
<link rel="stylesheet" href="../style/owl.theme.default.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
  <div id="app">
    <div class="header_section header_bg d-flex " style="min-height: 10vh;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light  ">
          <div class="logo"><a href="#"><img src="../img/logo-removebg-preview.png"></a></div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="../web/accounts.html">Accounts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../web/cards.html">Cards</a>
              </li>
              <div v-if="loggedOut">
                <li class="nav-item">
                <a class="nav-link" href="../web/sign-in.html">Login</a>
              </li> 
              </div>
               
              <div  v-if="loggedIn">
                <button type="button" @click.prevent="logOut" class="bg-light pt-1 rounded">
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" width="34" height="34"
                                  viewBox="0 0 24 24" stroke-width="1.5" stroke="#7bc62d" fill="none" stroke-linecap="round"
                                  stroke-linejoin="round">
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                                  <path d="M9 12h12l-3 -3" />
                                  <path d="M18 15l3 -3" />
                                </svg> 
                              </button> 
                </div>               
            </ul>
          </div>
        </nav>
      </div>
 
    <div class="what_we_do_section layout_padding col-12 d-flex flex-column justify-content-center align-items-center" style="min-height: 70vh;">
        <h3 class="text-center mb-5 mt-2 text-black">Create a new card</h3>
        <div class="mb-3 w-50" >
            <select class="form-select w-100" aria-label="Default select example" v-model="type" >
                <option selected>Choose type</option>
                <option value="DEBIT">DEBIT</option>
                <option value="CREDIT">CREDIT</option>                               
              </select>
        </div>
        <div class="mb-3 w-50">
            <select class="form-select  w-100" aria-label="Default select example" v-model="color">
                <option selected>Choose color</option>
                <option value="GOLD">GOLD</option>
                <option value="SILVER">SILVER</option>
                <option value="PLATINUM">PLATINUM</option>
              </select>
        </div>                       
        <a href="#"><button type="submit" class="btn btn-success mb-2 w-100 align-self-center" @click="createCard">Create new card</button></a>
        <a href="../web/cards.html"><button type="submit" class="btn btn-danger mb-2 w-100 align-self-center" >Back to cards</button></a>
    </div>

    <div class="footer_section layout_padding margin_top_90" style="min-height: 20vh;">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <h4 class="about_text">About Financial</h4>
            <div class="location_text"><img src="../img/map-icon.png"><span class="padding_left_15">Mar del Plata, Argentina</span></div>
            <div class="location_text"><img src="../img/call-icon.png"><span class="padding_left_15">+01 9876543210</span></div>
            <div class="location_text"><img src="../img/mail-icon.png"><span class="padding_left_15">cashflow@bank.com</span></div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <h4 class="about_text">About Financial</h4>
            <p class="dolor_text">ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
          </div>
          <div class="col-lg-3 col-sm-6">            
            <div class="footer_social_icon">
              <ul>
                <li><a href="#"><img src="../img/fb-icon1.png"></a></li>
                 <li><a href="#"><img src="../img/twitter-icon1.png"></a></li>
                <li><a href="#"><img src="../img/linkedin-icon1.png"></a></li>
                <li><a href="#"><img src="../img/youtub-icon1.png"></a></li>
              </ul>
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/plugin.js"></script>
  
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/custom.js"></script>
  
    <script src="js/owl.carousel.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>  
    <script src="../js/createCard.js"></script>
</body>
</html> 
<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CashFlow | Cards</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/cardStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../img/logo-removebg-preview.png" type="image/x-icon">

</head>

<body>
    <div id="app">
        <header style="min-height: 10vh;">
            <nav class="navbar navbar-expand-lg navbar bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
                <div class="container-fluid">
                    <img src="../img/logo-removebg-preview.png" class="navbar-brand" href="#" style="width: 8rem;">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link " aria-current="page" href="../index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="../web/accounts.html">Accounts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="../web/cards.html">Cards</a>
                            </li>
                        
                        </ul>
                        <a href="./sign-in.html">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-login"
                                width="34" height="34" viewBox="0 0 24 24" stroke-width="1.5" stroke="#7bc62d"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path
                                    d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                                <path d="M20 12h-13l3 -3m0 6l-3 -3" />
                            </svg>
                        </a>
                        <button type="button" @click.prevent="logOut">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout"
                                width="34" height="34" viewBox="0 0 24 24" stroke-width="1.5" stroke="#7bc62d"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path
                                    d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                                <path d="M9 12h12l-3 -3" />
                                <path d="M18 15l3 -3" />
                            </svg>
                        </button>
                    </div>
                </div>
            </nav>
            <h1 class="text-center p-2 text-black">Your cards</h1>
        </header>

        <main class="d-flex flex-column col-12" style="min-height: 80vh;">

            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../img/banner1.jpg" class="d-block w-100 object-fit-cover " alt="..."
                            style="height: 20vh;">
                    </div>
                    <div class="carousel-item active">
                        <img src="../img/banner3.jpg" class="d-block w-100 object-fit-cover " alt="..."
                            style="height: 20vh;">
                    </div>
                    <div class="carousel-item">
                        <img src="../img/banner4.jpeg" class="d-block w-100 object-fit-cover" alt="..."
                            style="height: 20vh;">
                    </div>
                    <div class="carousel-item">
                        <img src="../img/banner5.jpeg" class="d-block w-100 object-fit-cover" alt="..."
                            style="height: 20vh;">
                    </div>
                    <div class="carousel-item">
                        <img src="../img/banner6.jpeg" class="d-block w-100 object-fit-cover" alt="..."
                            style="height: 20vh;">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <div class="d-flex flex-column justify-content-center align-items-center gap-3">
              
                <div data-aos="fade-up"
                    class=" col-6 d-flex flex-column justify-content-center align-items-center m-3 rounded flex-wrap flex-lg-nowrap"
                    style="background-color: rgba(8, 54, 54, 0.349); min-height: 70vh;">
                    <h3 class="text-center fw-bold" style="min-height: 5rem;">Create a new card ✅</h3>                    
                        <div class="mb-3 w-50" >
                            <select class="form-select w-100" aria-label="Default select example" v-model="type" >
                                <option selected>Choose type</option>
                                <option value="DEBIT">DEBIT</option>
                                <option value="CREDIT">CREDIT</option>                               
                              </select>
                        </div>
                        <div class="mb-3 w-50">
                            <select class="form-select" aria-label="Default select example" v-model="color">
                                <option selected>Choose color</option>
                                <option value="GOLD">GOLD</option>
                                <option value="SILVER">SILVER</option>
                                <option value="PLATINUM">PLATINUM</option>
                              </select>
                        </div>                       
                        <button type="submit" class="btn btn-success mb-2 w-50 align-self-center" @click="createCard">Create new card</button>
                   
                    
                </div>

                 <a href="../web/accounts.html" class="mb-4">
                    <button type="button" class="btn btn-danger">Back to Accounts</button>
                </a>

            </div>


        </main>

        <footer
            class="d-flex flex-wrap flex-lg-row justify-content-between align-items-center text-center text-black p-2 bg-dark text-white col-12"
            style="min-height: 10vh;">
            <div>
                <h5 class="mb-2">Follow us</h5>
                <a href="https://es-la.facebook.com/" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook"
                        width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#7bc62d" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
                    </svg>
                </a>
                <a href="https://www.instagram.com/" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram"
                        width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#7bc62d" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
                        <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                        <path d="M16.5 7.5l0 .01" />
                    </svg>
                </a>
                <a href="https://twitter.com/?lang=es" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-twitter"
                        width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#7bc62d" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c0 -.249 1.51 -2.772 1.818 -4.013z" />
                    </svg>
                </a>
            </div>
            <div class="d-flex flex-column p-2">
                <a href="./web/text.html">
                    <p>User Support</p>
                </a>
                <a href="./web/text.html">
                    <p>Work with us</p>
                </a>
                <a href="./web/text.html">
                    <p>CashFlow microloans</p>
                </a>
                <a href="./web/text.html">
                    <a href="">
                        <p>Security center</p>
                    </a>
                    <a href="./web/text.html">
                        <a href="">
                            <p>Contact us</p>
                        </a>
            </div>
            <h6>@2023 CashFlow Bank</h6>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../js/createCard.js"></script>

</body>

</html> -->