<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">

<title>Transfers</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content=""> 

<link rel="stylesheet" type="text/css" href="../style/style copy.css">

<link rel="stylesheet" href="../style/responsive.css">

<link rel="stylesheet" href="../style/jquery.mCustomScrollbar.min.css">

<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<link rel="icon" href="/img/logo-removebg-preview.png" type="image/gif" />
 <link rel="stylesheet" href="../style/owl.carousel.min.css">
<link rel="stylesheet" href="../style/owl.theme.default.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">  

</head>
<body style="background-color: #06060615;" >
  <div id="app">
 <div class="header_section header_bg">
      <nav class="navbar navbar-expand-lg " style="background-color: #7773731e; box-shadow: -2px 9px 5px 0px rgba(0,0,0,0.25);
      -webkit-box-shadow: -2px 9px 5px 0px rgba(0,0,0,0.25);
      -moz-box-shadow: -2px 9px 5px 0px rgba(0,0,0,0.25);">
        <div ><a href="#"><img src="../img/logo-removebg-preview.png" style="width: 15rem;"></a></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Home</a>
            </li>
            <li v-show="loggedIn" class="nav-item">
              <a class="nav-link " href="../web/accounts.html">Accounts</a>
            </li>
            <li v-show="loggedIn" class="nav-item">
              <a class="nav-link" href="../web/cards.html">Cards</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./transfers.html">Transfers</a>
            </li> 
            <div  v-if="loggedIn" class="ms-3" style="background-color: #77737300;">
              <button type="button" @click.prevent="logOut" class=" pt-1 rounded" style="background-color: #77737300;">
                 <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" width="34" height="34"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="#7bc62d" fill="none" stroke-linecap="round"
                                stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                  <path d="M9 12h12l-3 -3" />
                  <path d="M18 15l3 -3" />
                  </svg> 
              </button> 
              </div>              
          </ul>
        </div>
      </nav>
      
    </div>
 
    <div class="contact_section layout_padding">
      <div class="container-fluid">
        <h1 class="what_taital">Pay a loan fee</h1>
        
        <div class="contact_section2 ">
          <div class="row justify-content-evenly">
            <div class="col-md-5 padding_left_0">
             <form action="" @submit.prevent="confirmOperation" style="border: 3px solid black; border-radius: 10px;" class="p-3">
              <div class="d-flex flex-column justify-content-center align-items-center gap-2">
                <label for="" class="me-4 fw-bold">Pay from account:</label>
                <select class="form-select w-50" aria-label="Default select example" v-model="accountSelected">                    
                  <option :value="account" v-for="account of arrayAccounts">{{ account}}</option>            
                </select>               
              </div>    
              <div class="d-flex flex-column justify-content-center align-items-center gap-2 mt-2">
               <!--  {{accountSelected}}  -->
                <label for="" class="me-4 fw-bold">Loan to pay:</label>
                <select class="form-select w-50" aria-label="Default select example" v-model="loanSelected">   
                 <!--  {{loanSelected.id}}      -->              
                  <option :value="loan" v-for="loan of loans">{{ loan.name}}</option>            
                </select> 
                <div class="moremore_bt d-flex justify-content-center align-items-center w-50"><a href="#" class="w-50 "><button class="btn"  @click="confirmOperation"> Send </button></a></div>                        
              </div>                              
             </form>
              
            </div>
            <div class="col-md-6 padding_0">
              <img src="../img/img-1.png" alt="img">
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="footer_section layout_padding margin_top_90" style="min-height: 10vh;">
      <div class="container d-flex justify-content-evenly">
        <div class="row d-flex justify-content-evenly">
          <div class="col-lg-3 col-sm-6 ">
            <h4 class="about_text">About Us</h4>
            <div class="location_text"><img src="../img/map-icon.png"><span class="padding_left_15">Mar del Plata, Argentina</span></div>
            <div class="location_text"><img src="../img/call-icon.png"><span class="padding_left_15">+01 9876543210</span></div>
            <div class="location_text"><img src="../img/mail-icon.png"><span class="padding_left_15">cashflow@bank.com</span></div>
          </div>
          <div class="col-lg-3 col-sm-6 d-flex justify-content-center align-items-center">
           
            <p class="dolor_text fw-bold ">Developed by <br> Micaela Gonzalez Pili</p> 
          </div>
          <div class="col-lg-3 col-sm-6">            
            <div class="footer_social_icon">
              <ul>
                <li><a href="#"><img src="../img/fb-icon1.png"></a></li>
                 <li><a href="#"><img src="../img/twitter-icon1.png"></a></li>
                <li><a href="#"><img src="../img/linkedin-icon1.png"></a></li>
                <li><a href="#"><img src="../img/youtub-icon1.png"></a></li>
              </ul>
            </div>
          </div>
        </div>
       
      </div>
    </div>
 
  </div>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/jquery-3.0.0.min.js"></script>
    <script src="../js/plugin.js"></script>  
    <script src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
    <script src="../js/owl.carousel.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script> 
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>  
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.all.min.js"></script>  
    <script src="../js/payfee.js"></script>
   
    
</body>
</html> 