 <!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">

<title>Sign In</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content=""> 

<link rel="stylesheet" type="text/css" href="../style/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="../style/style copy.css">

<link rel="stylesheet" href="../style/responsive.css">

<link rel="icon" href="../img/logo-removebg-preview.png" type="image/gif" />

<link rel="stylesheet" href="../style/jquery.mCustomScrollbar.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>
<body >
  <div id="app">
  <!--   {{email}} {{password}} -->
 <div class="header_section header_bg">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="logo"><a href="#"><img src="../img/logo-removebg-preview.png" style="width: 15rem;"></a></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Home</a>
            </li>
            <li v-show="loggedIn" class="nav-item">
              <a class="nav-link " href="./web/accounts.html">Accounts</a>
            </li>
            <li v-show="loggedIn" class="nav-item">
              <a class="nav-link" href="./web/cards.html">Cards</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
            </li>     
            <div  v-if="loggedIn">
              <button type="button" @click.prevent="logOut" class="bg-dark rounded">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" width="34" height="34"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="#7bc62d" fill="none" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                                <path d="M9 12h12l-3 -3" />
                                <path d="M18 15l3 -3" />
                              </svg> 
                            </button> 
            </div>          
          </ul>
        </div>
      </nav>
    </div>
  
    <div class="contact_section layout_padding">
      <div class="container-fluid">
        <h1 class="what_taital">Welcome back!</h1>
        <p class="amet_text">LOGIN </p>
        <div class="contact_section2">
          <div class="row justify-content-evenly">
            <div class="col-md-5 padding_left_0">
              <div class="mail_section">               
                <input type="email" class="mail_text_1" placeholder="Email" name="Email" v-model="email">
                <input type="password" class="mail_text_1" id="exampleInputPassword1" placeholder="Password" name="Password"  v-model="password">
                <p v-if="showErrorMessage">Please, complete all the fields.</p>
                <a href="#" ><button @click="signIn"class="margin_top_90 btn btn-danger align-self-center">Sign In</button></a>
                <p class="pt-2">Don't have an account yet? <a href="./sign-up.html" style="text-decoration: underline; color: #062247;">Register here!</a></p>
              </div>
              
            </div>
            <div class="col-md-6 padding_0">
              <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d201169.05461794484!2d-57.60053405!3d-38.01756665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9584d94d19d34209%3A0xdd9670804bfed126!2sMar%20del%20Plata%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1688044167189!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 
    <div class="footer_section layout_padding margin_top_90">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <h4 class="about_text">About Financial</h4>
            <div class="location_text"><img src="../img/map-icon.png"><span class="padding_left_15">Mar del Plata, Argentina</span></div>
            <div class="location_text"><img src="../img/call-icon.png"><span class="padding_left_15">+01 9876543210</span></div>
            <div class="location_text"><img src="../img/mail-icon.png"><span class="padding_left_15">cashflow@bank.com</span></div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <h4 class="about_text">About Financial</h4>
            <p class="dolor_text">ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
          </div>
          <div class="col-lg-3 col-sm-6">            
            <div class="footer_social_icon">
              <ul>
                <li><a href="#"><img src="../img/fb-icon1.png"></a></li>
                 <li><a href="#"><img src="../img/twitter-icon1.png"></a></li>
                <li><a href="#"><img src="../img/linkedin-icon1.png"></a></li>
                <li><a href="#"><img src="../img/youtub-icon1.png"></a></li>
              </ul>
            </div>
          </div>
        </div>
       
      </div>
    </div>
   
  </div>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/jquery-3.0.0.min.js"></script>
    <script src="../js/plugin.js"></script>   
    <script src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../js/custom.js"></script>   
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script> 
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> 
    <script src="../js/index.js"></script>
    
</body>
</html> 


<!--  <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CashFlow | Sign In</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="../style/style.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="../img/logo-removebg-preview.png" type="image/x-icon">

</head>

<body >
  <header style="min-height: 10vh;">
    <nav class="navbar navbar-expand-lg navbar bg-dark border-bottom border-bottom-dark position-sticky " data-bs-theme="dark">
      <div class="container-fluid ">
        <img src="../img/logo-removebg-preview.png" class="navbar-brand" href="#" style="width: 8rem;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="../web/accounts.html">Accounts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../web/cards.html">Cards</a>
            </li>         
          </ul>
          <a href="#">
            <button >
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-login" width="34" height="34"
              viewBox="0 0 24 24" stroke-width="1.5" stroke="#7bc62d" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
              <path d="M20 12h-13l3 -3m0 6l-3 -3" />
              </svg>
            </button>            
          </a>
          <a href="../index.html">
            <button @click="logOutBtn">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" width="34" height="34"
              viewBox="0 0 24 24" stroke-width="1.5" stroke="#7bc62d" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
              <path d="M9 12h12l-3 -3" />
              <path d="M18 15l3 -3" />
              </svg>   
            </button>           
          </a> 
        </div>
      </div>
    </nav>   
    <h1 class="text-center p-2 text-black">Sign In</h1>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../img/banner1.jpg" class="d-block w-100 object-fit-cover " alt="..." style="height: 20vh;">
        </div>
        <div class="carousel-item active">
          <img src="../img/banner3.jpg" class="d-block w-100 object-fit-cover " alt="..." style="height: 20vh;">
        </div>
        <div class="carousel-item">
          <img src="../img/banner4.jpeg" class="d-block w-100 object-fit-cover" alt="..." style="height: 20vh;">
        </div>
        <div class="carousel-item">
          <img src="../img/banner5.jpeg" class="d-block w-100 object-fit-cover" alt="..." style="height: 20vh;">
        </div>
        <div class="carousel-item">
          <img src="../img/banner6.jpeg" class="d-block w-100 object-fit-cover" alt="..." style="height: 20vh;">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    
   
  </header>

  <main id="app" class="d-flex flex-column justify-content-center align-items-center col-12" style="min-height: 80vh;">
   {{email}} {{pwd}}
    <div data-aos="fade-up" class=" col-6 d-flex flex-column justify-content-center align-items-center m-3 rounded flex-wrap flex-lg-nowrap" style="background-color: rgba(8, 54, 54, 0.349); min-height: 70vh;">
       <h3 class="text-center fw-bold" style="min-height: 10rem;">👋 Welcome back!</h3>
      <form class="d-flex flex-column flex-wrap " style="min-height: 20rem;" >
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label p-2 fw-bold align-self-center">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" v-model="email">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label fw-bold align-self-center">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1"  v-model="pwd">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-success mb-2 w-50 align-self-center" @click="signIn">Sign In</button>
      </form>
      <p class="text-center">Don't have an account yet? <a href="./sign-up.html" style="text-decoration: underline; color: #062247;">Register here!</a></p>
    </div>
    
      
  </main>

  <footer
    class="d-flex flex-wrap flex-lg-row justify-content-between align-items-center text-center text-black p-2 bg-dark text-white col-12"
    style="min-height: 10vh;">
    
    <div class="d-flex justify-content-center align-items-center">
      <h5 class="mb-2">Follow us</h5>
      <a href="https://es-la.facebook.com/" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="44" height="44"
        viewBox="0 0 24 24" stroke-width="1.5" stroke="#7bc62d" fill="none" stroke-linecap="round"
        stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
      </svg>
      </a>
      <a href="https://www.instagram.com/" target="_blank" >
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="44"
        height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#7bc62d" fill="none" stroke-linecap="round"
        stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
        <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
        <path d="M16.5 7.5l0 .01" />
      </svg>
      </a>
      <a href="https://twitter.com/?lang=es" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-twitter" width="44" height="44"
        viewBox="0 0 24 24" stroke-width="1.5" stroke="#7bc62d" fill="none" stroke-linecap="round"
        stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path
          d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c0 -.249 1.51 -2.772 1.818 -4.013z" />
      </svg>
      </a>       
      
    </div>
    <div class="d-flex flex-column p-2">
      <a href="./web/text.html">
      <p>User Support</p>  
      </a>
      <a href="./web/text.html">
        <p>Work with us</p>
      </a>
      <a href="./web/text.html">
        <p>CashFlow microloans</p>
      </a>
      <a href="./web/text.html">
        <a href="">
       <p>Security center</p>  
      </a>
      <a href="./web/text.html">
        <a href="">
        <p>Contact us</p>
      </a>   
    </div>
    <h6>@2023 CashFlow Bank</h6>
  </footer>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>  
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init({
      duration: 1500,
    });
  </script>  
  <script src="../js/sign-in.js"></script>
</body>

</html>  -->